body{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;
}
.clearfix{
    clear: both;
}
.font50{
    font-size: 0.42rem;
}
.font40{
    font-size: 0.36rem;
}
.font30 {
    font-size: 0.34rem;
}
.font24{
    font-size: 0.28rem;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
header{
    width: 100%;
    height:0.8rem;
    background-color: red;
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: white;
    overflow: hidden;
}
header a{
    color: white;
    margin: 0 0.1rem;
    display: inline-block;
}
header h1{
    width: 2.5rem;
    height: 0.5rem;
    margin-left: 0.1rem;
    font-size: 0;
    display: inline-block;
    background: transparent url("image/logo.png") no-repeat;
    background-size:cover ;
}
header .headerbtn .menu{
    width:0.4rem;
    height:0.3rem;
    background: transparent url("image/navBtn.png") no-repeat;
    background-size:cover ;
}
/*header结束*/

/*main开始*/
.main{
    margin: 0 0.15rem ;
}
.main nav{
    margin-top: 0.3rem;
    height:0.6rem;
    /*border-bottom: 1px solid #3d3d3d;*/
}
.main nav a{
    color: #000;
    display: inline-block;
    height: 0.62rem;
    padding: 0 0.3rem;
}
.main nav a.current{
    border-bottom: 3px solid #000;
}
.content .item{
    padding-top: 0.4rem;
    border-top: 1px solid #3d3d3d;
}
.content .item h2{
    margin-bottom: 0.3rem;
}
.content .item h2 .hoticon{
    display:inline-block;
    background: transparent url("image/re01.jpg") no-repeat 0 0.15rem;
    /*float: left;*/
    width: 0.80rem;
    height: 0.45rem;
    -webkit-background-size:;
    background-size:80%;
}
.content .item p{
    margin-bottom: 0.3rem;
}
.content .item .item-footer{
    display: inline-block;
    margin-bottom: 0.3rem;
}
.content .item .item-footer .writer{
    display: inline-block;
    margin-right: 0.3rem;
    color: #4134ff;
}
.content .item .item-footer .grey{
    display: inline-block;
    margin-right: 0.3rem;
    color: #6d6d6d;
}
.content .btn{
    display: block;
    text-align: center;
    border: 1px solid #717171;
    background-color: rgb(252,252,252);
    margin-bottom: 0.5rem;
}